@model Milestone1.Models.MembershipCard

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

<div>
    <h4>MembershipCard</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.memberId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.memberId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.member)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.member.name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
</body>
</html>
